nodered/data/flows.json
[{"id":"1ef4ab93.f7eaa4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e206c28b.f2f2a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5586a15.b9da66","type":"postgresdb","z":"","hostname":"postgres","port":"5432","db":"api_db","ssl":false},{"id":"60ee7f90.3882c","type":"postgres","z":"1ef4ab93.f7eaa4","postgresdb":"5586a15.b9da66","name":"Postgres","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":480,"y":160,"wires":[["caae5333.63391","be4fb74b.acf588"]]},{"id":"7f68d0bc.ff3b6","type":"template","z":"1ef4ab93.f7eaa4","name":"query","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from business_rule \nwhere executing = 'true'","output":"str","x":330,"y":160,"wires":[["60ee7f90.3882c"]]},{"id":"caae5333.63391","type":"debug","z":"1ef4ab93.f7eaa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":555,"y":120,"wires":[],"l":false},{"id":"2412b1d7.75f6ee","type":"function","z":"1ef4ab93.f7eaa4","name":"prepare BR query","func":"msg.payload = msg.payload.query;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":350,"wires":[["c8be147b.588378","cb658458.5addc8"]]},{"id":"c8be147b.588378","type":"postgres","z":"1ef4ab93.f7eaa4","postgresdb":"5586a15.b9da66","name":"Postgres","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":785,"y":350,"wires":[["fb2e2b2.27d64d8","e86c288b.beff28"]]},{"id":"473f7c62.7c1e74","type":"comment","z":"1ef4ab93.f7eaa4","name":"Execute every X seconds","info":"","x":170,"y":100,"wires":[]},{"id":"a949fe8e.94dfc","type":"comment","z":"1ef4ab93.f7eaa4","name":"Execute the BR queries","info":"","x":160,"y":240,"wires":[]},{"id":"8b9dce22.97d7e","type":"function","z":"1ef4ab93.f7eaa4","name":"Generate email message","func":"var newMsg = {};\n\nnewMsg.payload = \"There is an alarm, \" +\n\"the following elements are involved: \\n\";\n\n//msg.payload;\n\nfor (var elem in msg.payload) { \n    newMsg.payload += \"\\n\";\n    newMsg.payload += \"Device: \"+msg.payload[elem].device_name;\n    newMsg.payload += \"\\n\";\n    newMsg.payload += \"Value: \"+msg.payload[elem].value;\n    newMsg.payload += \"\\n\";\n    newMsg.payload += \"Datetime: \"+msg.payload[elem].datetime;\n    newMsg.payload += \"\\n\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":430,"y":471,"wires":[["4f2c482.5e321b8","37ea0f48.6dc66"]]},{"id":"d9ecf9d7.8a6198","type":"comment","z":"1ef4ab93.f7eaa4","name":"Alarm response","info":"","x":140,"y":400,"wires":[]},{"id":"f49e2a03.9da198","type":"inject","z":"1ef4ab93.f7eaa4","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["7f68d0bc.ff3b6"]]},{"id":"fb2e2b2.27d64d8","type":"debug","z":"1ef4ab93.f7eaa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":858,"y":311,"wires":[],"l":false},{"id":"249148bc.df2b78","type":"array-loop","z":"1ef4ab93.f7eaa4","name":"array-loop","key":"al1a60a19a718526","keyType":"msg","reset":true,"resetValue":"value-null","array":"array","arrayType":"msg","x":400,"y":300,"wires":[["2b011a1a.6bf4c6"],["5ab96046.114d7"]]},{"id":"5ab96046.114d7","type":"function","z":"1ef4ab93.f7eaa4","name":"it","func":"return msg;","outputs":1,"noerr":0,"x":401,"y":350,"wires":[["249148bc.df2b78","2412b1d7.75f6ee"]]},{"id":"be4fb74b.acf588","type":"change","z":"1ef4ab93.f7eaa4","name":"prep array-loop","rules":[{"t":"move","p":"payload","pt":"msg","to":"array","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":300,"wires":[["249148bc.df2b78"]]},{"id":"2b011a1a.6bf4c6","type":"debug","z":"1ef4ab93.f7eaa4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":475,"y":260,"wires":[],"l":false},{"id":"cb658458.5addc8","type":"debug","z":"1ef4ab93.f7eaa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":701,"y":310,"wires":[],"l":false},{"id":"e86c288b.beff28","type":"switch","z":"1ef4ab93.f7eaa4","name":"check if alarm","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":500,"wires":[["8b9dce22.97d7e"],["4660fb9b.0c4434"]]},{"id":"4660fb9b.0c4434","type":"debug","z":"1ef4ab93.f7eaa4","name":"No alarm","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":335,"y":520,"wires":[],"l":false},{"id":"37ea0f48.6dc66","type":"e-mail","z":"1ef4ab93.f7eaa4","server":"$(BR_EMAIL_SERVER)","port":"$(BR_EMAIL_PORT)","secure":true,"tls":true,"name":"marc.vila.gomez@gmail.com","dname":"Notification","x":685,"y":471,"wires":[]},{"id":"4f2c482.5e321b8","type":"debug","z":"1ef4ab93.f7eaa4","name":"Sending notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":558,"y":515,"wires":[],"l":false}]